<div class="mat-typography">
  <div >
    <div class="websiteTemplate">
      <div class="websiteTemplate-media">
        <iframe
          *ngIf="websiteSelectedTemplate.websiteHtml"
          class="websiteTemplate-iframe"
          [srcdoc]="buildPreviewDocument(websiteSelectedTemplate)"
          title="Website template preview"
          scrolling="no"></iframe>
        <img *ngIf="!websiteSelectedTemplate.websiteHtml" [src]="websiteSelectedTemplate.image" alt="">
        <p>
          {{websiteSelectedTemplate.content.value}}
        </p>
      </div>
      <div class="websiteTemplate-details">
        {{websiteSelectedTemplate.title.value}}
      </div>
    </div>
  </div>
</div>
<div style="align-items: end;">
  <button (click)="onNoClick()">Cancel</button>
</div>